@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Oswald);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
html{
    font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}
body{
    margin:0
}
footer,header,main,section{
    display:block
}
[hidden],template{
    display:none
}
a{
    background-color:transparent
}
a:active,a:hover{
    outline:0
}
h1{
    font-size:2em;
    margin:.67em 0
}
small{
    font-size:80%
}
img{
    border:0
}
svg:not(:root){
    overflow:hidden
}
@media print{
    *,:after,:before{
        background:0 0!important;
        color:#000!important;
        box-shadow:none!important;
        text-shadow:none!important
    }
    a,a:visited{
        text-decoration:underline
    }
    a[href]:after{
        content:" (" attr(href) ")"
    }
    a[href^="#"]:after,a[href^="javascript:"]:after{
        content:""
    }
    img{
        page-break-inside:avoid
    }
    img{
        max-width:100%!important
    }
    h2,h3,p{
        orphans:3;
        widows:3
    }
    h2,h3{
        page-break-after:avoid
    }
}
*,:after,:before{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
html{
    font-size:10px;
    -webkit-tap-highlight-color:transparent
}
body{
    font-family:Lato,Helvetica,Arial,sans-serif;
    font-size:16px;
    line-height:1.58;
    color:#310612;
    background-color:#fff
}
a{
    color:rgb(105, 9, 151);
    text-decoration:underline
}
a:focus,a:hover{
    color:#8421fa;
    text-decoration:underline
}
a:focus{
    outline:5px auto -webkit-focus-ring-color;
    outline-offset:-2px
}
img{
    vertical-align:middle
}
.img-responsive{

    display:block;
    max-width:100%;
    height:auto;
    border-radius: 20px;
    border-color:#a1396d;
    border:4px solid rgba(71, 18, 106, 0.8);
}
[role=button]{
    cursor:pointer
}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{
    font-family:Oswald,Helvetica,Arial,sans-serif;
    font-weight:400;
    line-height:1.1;
    color:#310719
}
.h1 .small,.h1 small,.h2 .small,.h2 small,.h3 .small,.h3 small,.h4 .small,.h4 small,.h5 .small,.h5 small,.h6 .small,.h6 small,h1 .small,h1 small,h2 .small,h2 small,h3 .small,h3 small,h4 .small,h4 small,h5 .small,h5 small,h6 .small,h6 small{
    font-weight:400;
    line-height:1;
    color:rgb(85, 6, 150)
}
.h1,.h2,.h3,h1,h2,h3{
    margin-top:25px;
    margin-bottom:12.5px
}
.h1 .small,.h1 small,.h2 .small,.h2 small,.h3 .small,.h3 small,h1 .small,h1 small,h2 .small,h2 small,h3 .small,h3 small{
    font-size:65%
}
.h4,.h5,.h6,h4,h5,h6{
    margin-top:12.5px;
    margin-bottom:12.5px
}
.h4 .small,.h4 small,.h5 .small,.h5 small,.h6 .small,.h6 small,h4 .small,h4 small,h5 .small,h5 small,h6 .small,h6 small{
    font-size:75%
}
.h1,h1{
    font-size:63px
}
.h2,h2{
    font-size:27px
}
.h3,.h4,h3,h4{
    font-size:23px
}
.h5,h5{
    font-size:18px
}
.h6,h6{
    font-size:14px
}
p{
    margin:0 0 12.5px
}
.small,small{
    font-size:87%
}
.text-center{
    text-align:center
}
ol{
    margin-top:0;
    margin-bottom:12.5px
}
ol ol{
    margin-bottom:0
}
.container{
    margin-right:auto;
    margin-left:auto;
    padding-left:15px;
    padding-right:15px
}
.container:after,.container:before{
    content:" ";
    display:table
}
.container:after{
    clear:both
}
@media (min-width:768px){
    .container{
        width:750px
    }
}
@media (min-width:992px){
    .container{
        width:970px
    }
}
@media (min-width:1200px){
    .container{
        width:1170px
    }
}
.row{
    margin-left:-15px;
    margin-right:-15px
}
.row:after,.row:before{
    content:" ";
    display:table
}
.row:after{
    clear:both
}
.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{
    position:relative;
    min-height:1px;
    padding-left:15px;
    padding-right:15px
}
.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{
    float:left
}
.col-xs-1{
    width:8.33333%
}
.col-xs-2{
    width:16.66667%
}
.col-xs-3{
    width:25%
}
.col-xs-4{
    width:33.33333%
}
.col-xs-5{
    width:41.66667%
}
.col-xs-6{
    width:50%
}
.col-xs-7{
    width:58.33333%
}
.col-xs-8{
    width:66.66667%
}
.col-xs-9{
    width:75%
}
.col-xs-10{
    width:83.33333%
}
.col-xs-11{
    width:91.66667%
}
.col-xs-12{
    width:100%
}
@media (min-width:992px){
    .col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{
        float:left
    }
    .col-md-1{
        width:8.33333%
    }
    .col-md-2{
        width:16.66667%
    }
    .col-md-3{
        width:25%
    }
    .col-md-4{
        width:33.33333%
    }
    .col-md-5{
        width:41.66667%
    }
    .col-md-6{
        width:50%
    }
    .col-md-7{
        width:58.33333%
    }
    .col-md-8{
        width:66.66667%
    }
    .col-md-9{
        width:75%
    }
    .col-md-10{
        width:83.33333%
    }
    .col-md-11{
        width:91.66667%
    }
    .col-md-12{
        width:100%
    }
}
caption{
    padding-top:8px;
    padding-bottom:8px;
    color:#777
}
caption{
    text-align:left
}
.carousel,.carousel-inner{
    position:relative
}
.carousel-inner{
    overflow:hidden;
    width:100%
}
.carousel-inner>.item{
    display:none;
    position:relative;
    -webkit-transition:left .6s ease-in-out;
    -o-transition:.6s ease-in-out left;
    transition:left .6s ease-in-out
}
.carousel-inner>.item>a>img,.carousel-inner>.item>img{
    display:block;
    max-width:100%;
    height:auto;
    line-height:1
}
@media (-webkit-transform-3d),(transform-3d){
    .carousel-inner>.item{
        -webkit-transition:-webkit-transform .6s ease-in-out;
        -moz-transition:-moz-transform .6s ease-in-out;
        -o-transition:-o-transform .6s ease-in-out;
        transition:transform .6s ease-in-out;
        -webkit-backface-visibility:hidden;
        -moz-backface-visibility:hidden;
        backface-visibility:hidden;
        -webkit-perspective:1000px;
        -moz-perspective:1000px;
        perspective:1000px
    }
    .carousel-inner>.item.active{
        -webkit-transform:translateZ(0);
        transform:translateZ(0);
        left:0
    }
}
.carousel-inner>.active{
    display:block
}
.carousel-inner>.active{
    left:0
}
.carousel-indicators{
    position:absolute;
    bottom:10px;
    left:50%;
    z-index:15;
    width:60%;
    margin-left:-30%;
    padding-left:0;
    list-style:none;
    text-align:center
}
.carousel-indicators li{
    display:inline-block;
    width:10px;
    height:10px;
    margin:1px;
    text-indent:-999px;
    border:3px solid rgb(0, 0, 0);
    border-radius:30px;
    cursor:pointer;
    background-color:transparent
}
.carousel-indicators .active{
    margin:0;
    width:12px;
    height:12px;
    background-color:#fff
}
.carousel-caption{
    position:absolute;
    left:15%;
    right:15%;
    bottom:20px;
    z-index:10;
    padding-top:20px;
    padding-bottom:20px;
    color:#fff;
    text-align:center;
    text-shadow:0 1px 2px rgba(0,0,0,.6)
}
@media screen and (min-width:768px){
    .carousel-caption{
        left:20%;
        right:20%;
        padding-bottom:30px
    }
    .carousel-indicators{
        bottom:20px
    }
}
.center-block{
    display:block;
    margin-left:auto;
    margin-right:auto
}
body{
    background-image:-webkit-linear-gradient(top,#630024,#aa24b4);
    background-image:-o-linear-gradient(top,#40171d,#630024 100%);
    background-image:linear-gradient(180deg,#49152f,#331020); /* real background color */
    background-repeat:repeat-x
}
body.white{
    background-color:#fff;
    background-image:none
}
.white-text-container .fa-icon,.white-text-container a,.white-text-container h1,.white-text-container h2,.white-text-container h3,.white-text-container h4,.white-text-container h5,.white-text-container p{
    color:rgb(213, 184, 255);
    font-family: 'Exo 2';
}
.content-wrapper{
    position:relative;
    z-index:1
}
.section-container{
    padding:60px 0 40px
}
.work-experience{
    margin-bottom:40px
}
.work-experience:last-of-type{
    margin-bottom:0
}
.footer-container{
    padding:20px 0 30px
}
.background-color-layer{
    background-size:cover;
    opacity:.15;
    background-repeat:repeat;
    position:absolute;
    z-index:-1;
    top:0;
    width:100%;
    left:0;
    right:0;
    bottom:0%;
    box-shadow:inset 0 -40px 60px 10px #4b1a33
}
.card{
    border-radius:1.85rem;
    background-color:rgb(209, 179, 223);
    border:4px solid rgb(157, 120, 188);
    margin-bottom:3rem
}
.card .h2,.card h2{
    margin-top:0;
    margin-bottom:40px
}
.card .card-block{
        padding-left:4rem;
        padding-right:4rem;
        padding-top:2rem;
        padding-bottom:2rem;
}
@media (min-width:992px){
    .card .card-block{
        padding-left:6rem;
        padding-right:6rem;
        padding-top:3rem;
        padding-bottom:3rem;
    }
}
.h5,h5{
    font-family:Lato,Helvetica,Arial,sans-serif;
    font-weight:700
}
.h5.date-title,h5.date-title{
    margin-top:3px;
    margin-bottom:20px
}
.h5 a,h5 a{
    color:#000
}
.h5 a:hover,h5 a:hover{
    color:#ff0060;
    text-decoration:none
}
.h5 small,h5 small{
    font-size:1em
}
.social-round-icon{
    border:1px solid #838383;
    border-radius:50px;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
}
.social-round-icon:hover{
    background-color:#ff0060;
    color:#fff;
    border-color:#ff0060
}
.social-round-icon.white-round-icon{
    border:1px solid #fff;
    color:#fff
}
.social-round-icon.white-round-icon:hover{
    background-color:#fff;
    color:#ff0060;
    border-color:#fff
}
.fa-icon{
    color:#000;
    width:32px;
    height:32px;
    display:inline-block;
    line-height:29px;
    font-size:15px;
    text-align:center
}
.fa-icon.fa-icon-2x{
    width:50px;
    height:50px;
    line-height:50px;
    font-size:24px
}
.social-buttons .social-round-icon{
    margin-right:10px
}
.social-buttons a{
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear;
    color:#000
}
.social-buttons a:hover{
    color:#ff0060;
    text-decoration:none
}
.social-buttons a:hover .social-round-icon{
    background-color:#ff0060;
    color:#fff;
    border-color:#ff0060
}
.carousel-caption{
    position:relative;
    padding:0;
    text-align:left;
    text-shadow:none;
    bottom:inherit;
    left:0;
    right:0;
    color:#555
}
.carousel-indicators{
    left:0;
    width:100%;
    margin-left:0;
    bottom:inherit;
    margin-top:-9px
}
.carousel-indicators li{
    border-color:#000;
    width:14px;
    height:14px
}
.carousel-indicators .active{
    width:14px;
    height:14px;
    margin:1px;
    background-color:#000
}
.template-example{
    margin-bottom:30px
}
.template-example .template-title-example{
    font-family:Lato,Times,serif;
    font-weight:400;
    color:#34495e;
    padding:0
}
.template-example .template-title-example:after,.template-example .template-title-example:before{
    display:none
}
.template-example h2{
    font-size:32px
}
.template-example h3{
    font-size:20px
}

.name-logo
    {
        width:35%;
    }

    .card-block h2 
    {
      text-align:center;
      background: linear-gradient(to right, #0000 0%, #234f5a00 41%, #4b0c621c 43%, #5d126821 50%, #4b0c621c 57%, #234f5a00 59%, #0000 100%);
      padding:6px;
    }






/* Attempting to let YouTube embeds scale better responsively */
.auto-resizable-iframe {
    max-width: 560px;
    margin: 0px auto;
  }
  
  .auto-resizable-iframe > div {
    position: relative;
    padding-bottom: 75%;
    height: 0px;
  }
  
  .side-alternate
  {
    text-align:right;
    padding-right:2.5%;
  }



/* Skill badges styling*/
.skill-badge-container {
    display: flex;
    flex-wrap: wrap; /* Allows icons to wrap onto new rows */
    justify-content: space-around; /* Distributes icons evenly */
    gap: 10px; /* Optional: space between icons */
    padding: 10px;
  }
  
  .skill-badge {
    flex-basis: 15%; /* Default width for desktop view */
  }

  .skill-badge p
  {
    text-align: center; /* Center the label below the icon */
    font-size: smaller;
  }
  
  .skill-badge img {
    width: 100%; /* Makes the image responsive */
    max-width: 80px; /* Limit the size of the image */
  }


  /* Styles for mobile devices in portrait (vertical) orientation */
@media (max-width: 768px) and (orientation: portrait) {
    /* Your mobile-specific styles here */
    .name-logo
    {
        width:86%;
    }

    .card-block h2 
    {
      text-align:center;
      background: linear-gradient(to right, #00000000 0%, #234f5a00 25%, #8228851c 40%, #97255322 50%, #8228851c 60%, #234f5a00 75%, #00000000 100%);
      padding:6px;
    }

    .auto-resizable-iframe {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0;
      }
      .auto-resizable-iframe iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
      }

      .game 
      {
        display:flex; flex-flow: column;
      }

      .first 
      {
        order:1;
        width:100%;
      }
      .second 
      {
        order:2;
        text-align:left;
      }
      .side-alternate
      {
        text-align:left;
      }

      .skill-badge
      {
        flex-basis:30%;
      }
  }

